<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item"> 
          <%= link_to "My Account", edit_user_path(current_user)%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders">My Orders</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h4 class="card-title">Welcome back, <%= @user.first_name %>!</h4>
      <p class="card-text">You've been a member since <%= @user.date_joined %>. Yay!<br />
      The e-mail address we have on file is <%= @user.email %>.</p>
      <a href="/" class="btn btn-primary">View our stores</a>
      <%= link_to "Update Account", edit_user_path(current_user), class: "btn btn-primary" %>
      <%= link_to "Create New Store", new_store_path, class: "btn btn-primary" %>
    </div>

  </div>
</div>
