<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Login</h1>
          <p>Fill in the form below to connect with our platform or <%= link_to "Create an account", new_user_path %> </p>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-4">
          <%= form_for(:session, url: login_path) do |f| %>
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>

            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>

            <%= f.submit name="Login", class: "login-button btn btn-primary-outline", style: 'float:right; margin-top: 40px; margin-bottom: 40px;' %>
          <% end %>
        </div>
         <div class="col-md-offset-2 col-md-4">
         <p></p>
          <div class="thumbnail" style="margin-top: 26px;">
            <img src="https://image.ibb.co/by7Lu6/undraw_account_490v.png" alt="...">
          </div>

         </div>
    </div>
</div>
