<div class="container">
  <h3>Manage Admins</h3>

  <%= render partial: 'admin/shared/nav' %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <th scope="row"><%= admin.first_name %></th>
          <td><%= admin.email %></td>
          <td><%= admin.roles.pluck(:name).uniq.join(", ") %></td>
          <td>Edit</td>
          <td><%= link_to "Demote", "/admin/permissions/#{admin.id}", method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
