<div class="container">
    <div class="row">
        <div class="col-md-4">
          <%= form_for @user do |f| %>
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control" %>

            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control" %>

            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>

            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>

            <%= f.label :address %>
            <%= f.text_field :address, class: "form-control" %>

            <%= f.label :address_2 %>
            <%= f.text_field :address_2, class: "form-control" %>

            <%= f.label :city %>
            <%= f.text_field :city, class: "form-control" %>

            <%= f.label :state %>
            <%= f.text_field :state, class: "form-control" %>

            <%= f.label :zip %>
            <%= f.text_field :zip, class: "form-control" %>

            <%= f.submit "Submit", class: "btn btn-primary-outline", style: 'float:right; margin-top: 40px; margin-bottom: 40px;' %>

          <% end %>
        </div>
         <div class="col-md-offset-2 col-md-4">
         <p></p>
          <div class="thumbnail" style="margin-top: 26px;">
            <img src="https://image.ibb.co/d7bMfc/undraw_no_data_qbuo.png" alt="...">
          </div>

         </div>
    </div>
</div>









<% if false %>
<div class="container">
  <div class="row">
    <div class="col-3">
    <table class="table">
      <%= form_for @user do |f| %>

        <tr>
          <td class="table-light"><%= f.label :first_name %></td>
          <td class="table-light"><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.label :last_name %></td>
          <td class="table-light"><%= f.text_field :last_name %></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.label :email %></td>
          <td class="table-light"><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.label :password %></td>
          <td class="table-light"><%= f.password_field :password %></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.label :address1 %></td>
          <td class="table-light"><%= f.text_field :address %></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.label :address2 %></td>
          <td class="table-light"><%= f.text_field :address_2 %></td>
        </tr>

        <tr>
          <td class="table-light"><%= f.label :city %></td>
          <td class="table-light"><%= f.text_field :city %></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.label :state %></td>
          <td class="table-light"><%= f.text_field :state %></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.label :zip %></td>
          <td class="table-light"><%= f.text_field :zip %></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.submit "Submit", class: "btn btn-primary" %></td>
          <td class="table-light"></td>
        </tr>
      <% end %>
    </div>
  </div>
    <!-- <div class="col-3">
      <%= image_tag 'createaccount.png' %>
    </div> -->
</div>
<% end %>
