<form action="/users/<%= @user.id %>" method="post">
    <input type="hidden" name="_method" value="PATCH"/>
    <input type="text" name="user[first_name]" value="<%= @user.first_name %>"/>
    <input type="text" name="user[last_name]"  value="<%= @user.last_name %>"/>
    <input type="text" name="user[email]"      value="<%= @user.email %>" />
    <input type="text" name="user[address]"    value="<%= @user.address %>" />
    <input type="text" name="user[password]"   value="<%= @user.password_digest %>"/>
    <input type="submit" value="Update User">
</form>
