

	<%= link_to "Create New Item", admin_new_store_item_path(@store.url), class: "badge badge-primary" %></center>
	<div class = "container">
  <% @store.items.each do |item| %>
		<div class="row text-center">
			<div class='col-6'>
				<%= image_tag item.image  %>
				</div>
			<div class='col-6 card bg-info'>
				<div class='card-body '>
				<h2><strong><%= item.title %></strong></h2> <br />
				<%= item.description %> <br /> <br />
				Price:$ <%= item.price %> <br />
				Status: <%= item.status %>
				</div>
				<% end %>
				</div>
			</div>
		</div>
	</div>
