<h1><%= @store.name %> </h1>
<h3><%= @store.status %></h3>
<h3>Store Employees</h3>

<% @store.users.each do |user| %>
  <% if user.store_manager? %>
    Store Manager: <%= user.first_name %>
  <% elsif user.store_admin? %>
    Store Administrator: <%= user.first_name %>
  <% end %>
<% end %>

<%= link_to "See all Items", admin_store_items_path(@store.url), class: "badge badge-primary" %></center>
<%= link_to "Update Business Information", admin_edit_store_path(@store.url) %>
<%= link_to "See All Items for this Store", admin_store_items_path(@store.url) %>
<%= link_to "See All Orders for this Store", admin_store_orders_path(@store.url) %>
