<div class="container">
  <center>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Order #</th>
          <th>Order Placed</th>
          <th>Order Status</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @user.orders.each do |order| %>
          <tr id="order-<%= order.id %>" class="order">
            <th scope="row"> <%= link_to order.id, order_path(order) %></th>
            <td><%= order.date %></td>
            <td><%= order.status.capitalize %></td>

         




            <td>
              <%= number_to_currency(order.order_total(order)) %>

              <% if order.status == "ordered" %>
                <%= form_tag charges_path do %>
                  <%= hidden_field_tag :order_id, order.id %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="A month's subscription"
                          data-amount= "<%= order.order_total(order) * 100 %>"
                          data-locale="auto"></script>
                <% end %>
              <% end %>

          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </center>
</div>

