
<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <% if current_user  %>
            <h3> <%= current_user.first_name %>'s  Cart</h3>
          <% else %>
            <h3> Your Cart </h3>
          <% end %>
          <p>Explore the items in your cart below or <%= link_to "Continue Shopping", root_path %></p>
          <p></p>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th></th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
               <% @cart_decorator.items.each do |cart_item|%>
              <div class="item-#{item.id}">
              <tr>

                <td><%= link_to cart_item.title, store_item_path(cart_item.store, cart_item.item) %></td>
                <td><%= image_tag cart_item.image, :size => "50x50"%></td>
                <td><%=number_to_currency(cart_item.price) %></td>
                <td><%= cart_item.quantity %></td>
                <td><%= link_to "-", cart_path(id: cart_item.id, condition: "decrease"), action: :update, method: :patch, class: "btn btn-xs btn-pill btn-danger" %>  <%= link_to "+", cart_path(id: cart_item.id, condition: "increase"), action: :update, method: :patch, class: "btn btn-xs btn-pill btn-success" %>  </td>
                <td><%= link_to "Remove", cart_path(id: cart_item.id), action: :destroy, method: :delete, class: "btn btn-xs btn-pill btn-danger" %></td>
                <td><%= number_to_currency(cart_item.sub_total) %></td>
              </tr>
              </div>
              <% end %>
            </tbody>
          </table>

        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-offset-10 col-md-2">



        <div class="statcard p-a-md">
            <h3 class="statcard-number"><%= number_to_currency(@cart_decorator.total) %></h3>
            <span class="statcard-desc">Total</span>
        </div>




              <div class="checkout">
                <% if current_user %>
                  <%= link_to "Calculate Shipping", shipping_path, class: "btn btn-lg btn-pill btn-primary" %>
                <% else %>
                  <%= link_to "Login", login_path %> <br />
                  <%= link_to "Create new account", new_user_path %>
                <% end %>
              </div>
              <!-- </div> -->
            </center>
          </div>



        </div>
    </div>
</div>
