<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title><%= @item.title %></title>
</head>
<body>
  <div class = "container">
  <h4><%= link_to "Continue shopping", store_items_path(@item.store) %></h4>
    <div class="row text-center">
      <div class='col-6'>
        <%= cl_image_tag(@item.image, :width => 450) %>
        </div>
      <div class='col-6 card bg-info'>
        <div class='card-body '>
        <h2><strong><%= @item.title %></strong></h2> <br />
        <%= @item.description %> <br /> <br />
        Price:$ <%= @item.price %> <br />
        <% if !current_user.nil? && !current_user.store.nil? && current_user.store.name == @item.store.name %>
          <p><%= link_to "Edit", edit_store_item_path(@item.store, @item), class: "badge badge-info"  %></p>
        <% end %>
        <% unless @item.retired? %>
        <%= link_to "Add to cart", carts_path(item_id: @item.id), method: :post, class: "badge badge-primary" %></center>
        <% else %>
        <div class="badge badge-secondary">
          Retired
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

</body>
