<div class="container">
    <div class="row">
        <div class="col-md-4">
          <%= form_for([:admin, @item.store, @item], html: { multipart: true }) do |form| %>

            <%= form.label :title %> 
            <%= form.text_field :title, class: "form-control" %>

            <%= form.label :description %>
            <%= form.text_field :description, class: "form-control" %>

            <%= form.label :price %>
            <%= form.text_field :price, class: "form-control" %>

            <div class="field">
              <%= form.label :image %>
              <%= form.file_field :image %>
            </div>

            <div class="category_select_box">
            <%= form.select(:category_id, @categories.map { |category| [category.title, category.id] }) %>
            </div>


             <%= form.submit "Submit", class: "btn btn-primary-outline", style: 'float:right; margin-top: 40px; margin-bottom: 40px;' %>

           

          <% end %>
        </div>
         <div class="col-md-offset-2 col-md-4"> 
         <p></p>
          <div class="thumbnail" style="margin-top: 26px;">
            <img src="https://image.ibb.co/d7bMfc/undraw_no_data_qbuo.png" alt="...">
          </div>

         </div>
    </div>
</div>



