<!DOCTYPE html>
<html>
  <head>
    <title>Little Shop Of Funsies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>

  <body>
  <%= render "shared/nav" %>
    <div class="container">

      
      <% flash.each do |name, msg| %>
        
        <% if name == "failure"%>
          <%= content_tag :div, raw(msg), class: "alert alert-danger" %>
        <% else %>
          <%= content_tag :div, raw(msg), class: "alert alert-success" %>
        <% end %>

      <% end %>


          </div>
        </div>
        <%= yield %>
    </div>
  </body>
</html>
